@import "tailwindcss";

@theme {
    --color-background: rgb(39, 55, 77);
    --color-primary: rgb(221, 230, 237);
    --color-secondary: rgb(157, 178, 191);
    --color-tertiary: #43DEA3;
    --color-quaternary: rgb(222, 120, 67);
}