.content {
  margin: 0 15px;
}

.content h3 {
  margin: 10px 0 10px 0;
}

.content p {
  margin: 11px 0;
}

.link {
  color: rgba(0, 0, 0, 0.8);
  background: #B3F9C7;
  padding: 6px 10px;
  font-size: 15px;
  margin: 0 15px;
}

.link:hover {
  color: rgba(0, 0, 0, 0.8);
}
